.toast-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px;
    gap: 10px;
    width: 300px;
}

.toast-success {
    width: 300px;
    height: 40px;
    background-color: green;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.toast-error {
    width: 300px;
    height: 40px;
    background-color: red;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.toast-content {
    width : 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 10px;
}

.toast-close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-style: none;
    color: white;
    background-color: transparent;
}

.toast-close:hover{
    color: white;
    background-color: #E74C3C;
}



