.heading{       
    font-family: "Roboto", "sans-serif";
    color: white;
    font-size: 32px;
    font-weight: bold;
    display: inline;
    text-decoration: none;
}

.subheading{
    font-family: "Roboto", "sans-serif";
    color: white;
    font-weight: 400;
    display: inline; 
}

.body{
    font-family: "Roboto", "sans-serif";
    color: white;
    font-weight: 400;
    opacity: 0.5;
    display: inline;
}
