.input {
    background-color: #2C3E50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #E74C3C;
    box-shadow:  3px 3px #E74C3C;
}

.input::placeholder{
    color: white;
    opacity: 0.5;
}

.input:focus{
    outline: none;
    transform: translate(3px, 3px);
    box-shadow: none;
}
