.space_header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px#E74C3C;
}

.copy_link_btn{
    width: 40px;
    height: 40px;
    border-style: none;
    opacity: 1;
    color: white;
    border-color: white;
    background-color: #2c3e50;
    font-size: larger;
    border-radius: 10px;
    cursor: pointer;
}

.copy_link_btn:hover{
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;

}